@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <p><lable>UserName</lable><input name="username" /></p>
        <p><lable>Password</lable><input name="password" type="password" /></p>
        <input type="submit" value="Log in" />
    }
</body>
</html>
