@model MvcModels.Models.AddressSummary

@{
    ViewBag.Title = "DisplaySummary";
}

<h2>Address Summary</h2>
<div>
    <label>
        City:
    </label>
    @Html.DisplayFor(t=>t.City)
</div>
<div>
    <label>
        Country:
    </label>
    @Html.DisplayFor(t => t.Country)
</div>

