@model decimal
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
    </head>
    <body>
        <div>
            Total Value is $@Model
        </div>
    </body>
</html>

